.form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  
    input {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
      width: 300px;
    }
  
    button {
      padding: 0.5rem 1rem;
      background-color: #0077cc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #005fa3;
    }
  }
  